link(rel='stylesheet', href='/common.css', type='text/css')
script(type='text/javascript', src='/jquery-dev.js')
script(type='text/javascript', src='/jquery-ui.js')
script(type='text/javascript', src='/common.js')