mixin item-selector(label, item, id)
  =label + ': '
  span(class='popup-selector', id=id)
    a(class='open', href='#')
      span.selected
        =item.title
      .template
        .line
      .content

mixin color-selector(label, color, id)
  =label + ': '
  span(class='popup-selector', id=id)
    a(class='open', href='#')
      div(class='selected '+color)
      .template
        .color
      .content

mixin time-input(task, label, property)
  span
    =label + ':'
    span(class='error-popup')
      .content
        =label + ' must be specified as a positive number < 100 with not more than two precision digits (e.g. "1" or "99.25").'
    input(type='text', size='5', maxlength='5', name=property, value=task[property]).time

link(rel='stylesheet', href='/common.css', type='text/css')
script(type='text/javascript', src='/jquery-dev.js')
script(type='text/javascript', src='/jquery-ui.js')
script(type='text/javascript', src='/ajaxq.js')
script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/common.js')
