html
	head
		title Sprint details
		include shared_ractive
		script(type='text/javascript', src='/index.coffee.js')
	body
		#output
		script(type='text/javascript', src='/Ractive.js')
		script(type='text/javascript')
			
			model = new IndexModel(!{JSON.stringify(sprints)});
			$.get('/index_template.html').then(function(ractiveTemplate) {

				viewModel = new IndexViewModel(model, ractiveTemplate);
			});
		#overlay	