link(rel='stylesheet', href='/shared.css', type='text/css')
script(type='text/javascript', src='/jquery-dev.js')
script(type='text/javascript', src='/jquery-ui.js')
script(type='text/javascript', src='/ajaxq.js')
script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/curry.js')
script(type='text/javascript', src='/shared.coffee.js')
