link(rel='stylesheet', href='/shared.css', type='text/css')
link(rel='stylesheet', href='/markdown.css', type='text/css')
script(type='text/javascript', src='/jquery-dev.js')
script(type='text/javascript', src='/jquery-ui-custom.min.js')
script(type='text/javascript', src='/ajaxq.js')
script(type='text/javascript', src='/socket.io/socket.io.js')
script(type='text/javascript', src='/moment.min.js')
script(type='text/javascript', src='/underscore-min.js')
script(type='text/javascript', src='/knockout.min.js')
script(type='text/javascript', src='/marked.min.js')
script(type='text/javascript', src='/shared.coffee.js')

mixin errorDialog

	div(data-bind="visible: modal() == 'error-dialog'")#error-dialog
		div(data-bind="text: errorMessage()").message.error
		.popup-buttons
			form.buttons
				input(data-bind="click: confirmError", type="button", value=messages.en.OK).button.confirm

mixin confirmDialog

		div(data-bind="visible: modal() == 'confirm-dialog'")#confirm-dialog
			div(data-bind="text: confirmMessage()").message.warning
			.popup-buttons
				form.buttons
					input(data-bind="click: cancel", type="button", value=messages.en.CANCEL).button.cancel
					input(data-bind="click: confirm", type="button", value=messages.en.CONFIRM).button.confirm