html
  head
    title Task details
    include common
    script(type='text/javascript', src='/task.js')
    script(type='text/javascript')
    
      var items = {};
      items.task = [!{JSON.stringify(task)}];

      $(document).ready(function() {

        attachAttributesToItems(items);
        $('#story-selector .selected').data('attributes', !{JSON.stringify(story)});
      });
  body
    #breadcrumbs
      a(href='/').index.
        Index
      img(src='/right.png', alt='down')
      a(href='/sprint/' + sprint._id).sprint
        =sprint.title
      img(src='/right.png', alt='down')
      a(href='/story/' + story._id).story
        =story.title
    #alert-panel
      .message
      .icons
        a(href='#')
          img(class='ok-button', src='/ok.png', alt='ok')
    .main-panel(id='uuid-' + task._id)
      form(autocomplete='off')
        div(class='header ' + task.color)
          .left
            input(type='text', name='summary', value=task.summary, class=task.color)
        .body
          textarea(name='description')
            =task.description
          hr
          .line
            mixin time-input(task, 'Initial estimation:', 'initial_estimation', task.initial_estimation)
          .line
            .status-date
              mixin date-selector('Status ', 'date-selector')
              | :&nbsp;
            .status-values
              - var value = 0;
              - if (task.remaining_time.length == 0) {
              -   
              -   value = 1;
              - }
              mixin time-input(task, 'Remaining time:', 'remaining_time', 1)
              mixin time-input(task, 'Spent time:', 'time_spent', 0)
          .line
            mixin item-selector('Story:', story, 'story-selector')
          .line
            mixin color-selector('Color:', task.color, 'color-selector')