html
	head
		title Task details
		link(rel='stylesheet', href='/task.css', type='text/css')
		script(type='text/javascript', src='/jquery-dev.js')
		script(type='text/javascript', src='/jquery-ui.js')
		script(type='text/javascript', src='/ajaxq.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/shared.coffee.js')
		script(type='text/javascript', src='/task.coffee.js')
	body
		#output
		script(type='text/javascript', src='/Ractive.js')
		script(type='text/javascript')
			
			var model, viewModel;
			model = new TaskModel(!{JSON.stringify(task)}, !{JSON.stringify(story)}, !{JSON.stringify(sprint)});
			$.get('/task_template.html').then(function(ractiveTemplate) {

				viewModel = new ViewModel(model, ractiveTemplate);
			});
		#overlay			
