head
  title Tisch
  link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/bootswatch/paper/bootstrap.min.css')
  link(rel='stylesheet', href='/bootstrap-datepicker/css/datepicker3.css')
  link(rel='stylesheet', href='/main.css')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')