head
  title Jade Example
  link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/bootswatch/paper/bootstrap.min.css")
  link(rel="stylesheet", href="main.css")
  // link(rel="stylesheet", href="/bootstrap-material-design/css-compiled/material-wfont.css")
  // link(rel="stylesheet", href="/bootstrap-material-design/css-compiled/ripples.css")