head
  title Tisch
  link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/bootswatch/paper/bootstrap.min.css')
  link(rel='stylesheet', href='/main.css')