doctype html
html
  include header
  body
    block content
    script(src="/knockout/dist/knockout.js")
    script(src="knockout-mapping/build/output/knockout.mapping-latest.js")
    script(src="/jquery/dist/jquery.min.js")
    script(src="/underscore/underscore-min.js")
    script(src="/underscore-contrib/dist/underscore-contrib.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="/task.js")