extends layout

block content
  div(data-bind='with: task').container
    form.form-horizontal
      fieldset
        legend Legend
        .form-group
          label(for="inputSummary").col-lg-2.control-label Summary
          .col-lg-10
            input(type="text", placeholder="Summary", data-bind="textInput: summary").form-control#inputSummary
        .form-group
          label(for="textAreaDescription").col-lg-2.control-label Description
          .col-lg-10
            .form-control-wrapper
              textarea(rows="5", data-bind="textInput: description").form-control.empty#textAreaDescription
            span.help-block Add the task description here.