label(for='time-spent').col-lg-2.control-label Time spent
.col-lg-10
  .input-group.date
    input(type='text', placeholder='YYYY-MM-DD').form-control#time-spent
    span.input-group-addon
      i.fa.fa-calendar.fa-lg