textarea {
  resize: none;
}
.modal-header h4 {
  color: #fff;
}
.datepicker {
  padding: 6px;
  border-radius: 3px !important;
  border: 0px !important;
}
.datepicker table tr td {
  border-radius: 50%;
}
.datepicker table tr td .active {
  font-weight: 800;
}
.datepicker-dropdown:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
}
.datepicker-dropdown:after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
}
.datepicker-dropdown.datepicker-orient-left:before {
  left: 24px;
}
.datepicker-dropdown.datepicker-orient-left:after {
  left: 25px !important;
}
.datepicker-dropdown.datepicker-orient-right:before {
  right: 9px;
}
.datepicker-dropdown.datepicker-orient-right:after {
  right: 10px;
}
.datepicker-dropdown.datepicker-orient-top:before {
  top: -10px;
}
.datepicker-dropdown.datepicker-orient-top:after {
  top: -9px;
}
.datepicker-dropdown.datepicker-orient-bottom:before {
  bottom: -10px;
  border-top: 10px solid #ccc;
}
.datepicker-dropdown.datepicker-orient-bottom:after {
  border-top: 10px solid #fff;
  bottom: -9px !important;
}
