body {

  /*font-family: Helvetica, Arial, sans-serif;*/
  font-size: 10pt;
  margin: 0px;
  background-image: url(/squairy_light.png);
  background-repeat: repeat;
}

body, input, pre.autogrow, textarea, .header span {

  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* needed for firefox autogrow */
input, pre.autogrow {

  font-size: 10.5pt;
}

textarea {

  font-size: 10pt;
}

#alert-panel {

  padding: 5px;
  display: none;
  color: white;
  /*box-shadow: 5px 5px 15px #999;
  -webkit-box-shadow: 5px 5px 15px #999;
  -moz-box-shadow: 5px 5px 15px #999;*/
  margin-left: 10px;
  margin-right: 10px;
  /*border-left: 1px #BBBBBB solid;
  border-right: 1px #BBBBBB solid;*/
}

#alert-panel .icons {

  text-align: right;
}

.error-popup {

  top: -10px;
  left: -12px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: inline-block;
  font-weight: 400;
  /*border-bottom: 1px DimGray solid;*/
  /*display: none;*/
}

.error-popup > .content {

  width: 150px;
  background-clip: padding-box;
  border: solid 1px #E46E6D;
  /*box-shadow: 0px 0px 15px #999;
  -webkit-box-shadow: 0px 0px 15px #999;
  -moz-box-shadow: 0px 0px 15px #999;*/
  position: absolute;
  padding: 5px;
  top: 25px;
  margin-bottom: 15px;
  z-index: 2;
  display: none;
}

.error-popup > .content:before, .error-popup .content:after {

  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 100%;
  /*top: 100%;*/
  left: 20px;
  margin-left: -10px;
}

.error-popup > .content:before {

  border-bottom: 10px solid #E46E6D;
  margin-bottom: 0px;
}

.error-popup > .content:after {

  border-bottom: 10px solid #F47E7D;
  margin-bottom: -1px;
  z-index: 2;
}

.popup-selector a {

	position: relative;
	cursor: pointer;
  text-decoration: none;
  color: black;
	display: inline-block;
	font-weight: 600;
	/*border-bottom: 1px DimGray solid;*/
}

.popup-selector a > .content {

	background: #FFF;
	background-clip: padding-box;
  border: solid 1px #BBBBBB;
  /*box-shadow: 0px 0px 15px #999;
  -webkit-box-shadow: 0px 0px 15px #999;
  -moz-box-shadow: 0px 0px 15px #999;*/
	position: absolute;
	padding: 5px;
	/*bottom: 100%;*/
	top: 25px;
	margin-bottom: 15px;
	visibility:hidden;
	/*display: none;*/
	z-index: 2;
	
	/*opacity:0;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;*/
}

.popup-selector a > .content:before, a > .content:after {

	content: "";
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	bottom: 100%;
	/*top: 100%;*/
	left: 20px;
	margin-left: -10px;
}

.popup-selector a > .content:before {

	border-bottom: 10px solid #BBBBBB;
	margin-bottom: 0px;
}

.popup-selector a > .content:after {

	border-bottom: 10px solid #FFF;
	margin-bottom: -1px;
	z-index: 2;
}

#color-selector a > .content {

  height: 75px;
  width: 110px;
  padding: 0px;
}

#color-selector .color {

  width: 30px;
  height: 30px;
  margin: 5px;
}

#color-selector .box-2, #color-selector .box-3 {

  position: relative;
  top: -70px;
  left: 35px;
}

#color-selector .box-4, #color-selector .box-5 {

  position: relative;
  top: -140px;
  left: 70px;
}

.error {

  background-color: #F47E7D;
}

.warning {

  background-color: #FFCC33;
}

.red {

  /*background: linear-gradient(#C2214D, #E2416D);
  background: -webkit-linear-gradient(#C2214D, #E2416D);*/
  background-color: #D2315D;
}

.green {

  background-color: #88C134;
}

.yellow {

  /*background: linear-gradient(#EFBC56, #FFDC76);
  background: -webkit-linear-gradient(#EFBC56, #FFDC76);*/
  /*background-color: #FFCC66;*/
  background-color: #F1C40F;
}

.orange {

  /*background: linear-gradient(#D97803, #F99823);
  background: -webkit-linear-gradient(#D97803, #F99823);*/
  background-color: #E98813;
}

.purple {

  background-color: #8767A6;
}

.blue {

  background-color: #3498DB;
}

/*.test a:hover > i {

	visibility: visible;
}*/

.popup-selector .template {

  display: none;
}

.popup-selector .line {

  padding: 5px;
  white-space: nowrap;
}

.popup-selector .line:hover {

  background: #DDDDDD;
}

.popup-selector .selected {

  width: 10px;
  height: 10px;
  /*border: 1px solid #BBBBBB;*/
}

ul#panel-container {

  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
  margin: 0px;
}

div#panel-container {

  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /*box-shadow: 5px 5px 15px #999;
  -webkit-box-shadow: 5px 5px 15px #999;
  -moz-box-shadow: 5px 5px 15px #999;*/
}

.main-panel {

  margin-left: 10px;
  margin-right: 10px;
  min-width: 800px;
  /*box-shadow: 5px 5px 15px #999;
  -webkit-box-shadow: 5px 5px 15px #999;
  -moz-box-shadow: 5px 5px 15px #999;*/
  background-color: #FFFFFF;
}

.main-panel hr {

  height: 2px;
  border: none;
  background-color: DimGray;
  margin-top: 0px;
  margin-bottom : 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.body > .line {

  color: DimGray;
  font-weight: 300;
  padding: 0px 5px 5px 5px;
}

.body > .line input {

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  padding: 0px;
  font-size: 10pt;
  border: 0px;
  /*width: 10px;*/
  border-bottom: 2px DimGray solid;
  width: 40px;
  font-weight: 600;
  /*text-align: center;*/
}

.panel {

  margin: 0px;
  min-width: 780px;
}

#panel-container .panel {

  /*box-shadow: 5px 5px 15px #999;
  -webkit-box-shadow: 5px 5px 15px #999;
  -moz-box-shadow: 5px 5px 15px #999;*/
  margin-top: 10px;
}

#panel-container.sortable .panel .header {

  /*box-shadow: 5px 5px 15px #999;
  -webkit-box-shadow: 5px 5px 15px #999;
  -moz-box-shadow: 5px 5px 15px #999;*/
  cursor: pointer;
}

.panel form {

  margin-bottom: 0px;
}

#panel-template {

  display: none;
}

#add-button {

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0.7;
}

#add-button:hover {
    
  opacity: 1.0;        
}

.header {

  height: 16px;
  padding: 5px;
  /*background-color: #88C134;*/
  color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

.panel .header .show.button {

  margin-left: 5px;
  display: none;  
}

.panel .header .hide.button {

  margin-left: 5px;
}

.panel .header .remove.button {

  margin-left: 5px;
}

.panel .header .remaining-text {

  margin-left: 5px;
}

.body textarea {

  outline: none;
  margin: 0px;
  padding: 5px;
  resize: none;
  border: 0px;
  width: 100%;
  height: 100px;
  background-color: white;
}

/*textarea .description {

  padding: 5px;
  background-color: #FFFFFF;
}*/

.header {

  min-width: 522px;
}

.ui-datepicker {  

}

.ui-datepicker a {  

  text-decoration: none;  
}

.ui-datepicker table {  

  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.ui-datepicker td {

  padding: 0.4em;
}

.ui-datepicker td:not(.ui-datepicker-unselectable):hover {

  background-color: #DDDDDD;
}

.ui-datepicker td.ui-datepicker-unselectable {

  color: DimGray;
}

.ui-datepicker-title {

  text-align: center;  
}

.ui-datepicker-header {

  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid DimGray;
}

.ui-datepicker-next {  

  padding-top: 3px;
  padding-right: 3px;
  float: right;  
}

.ui-datepicker-prev {

  padding-top: 3px;
  padding-left: 3px;
  float: left;  
}

.header .left {

  float: left;

}

.header .right {

  float: right;
}

.header .right:after {

  clear: both;
}

.header span {

  font-size: 10.5pt;
  /*padding-top: 2px;*/
}

.header input {

  margin: 0px;
  outline: none;
  padding: 0px;
  border: 0px;
  color: white;
  border-right: 2px solid white;
}

.header span, .header img, .header input {

  vertical-align: middle;
}

.header .remaining, .header .done {

  display: none; 
}

.header img.remaining.icon, .header img.date.icon {

  padding-top: 1px;
  padding-right: 5px;
  padding-left: 5px;
  border-left: 2px solid white;
}

.header span.remaining.text, .header span.date.text.end {

  border-right: 2px solid white;
  padding-right: 5px;
}

.header img.done.icon {

  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

li.panel .body, .main-panel .body {

  border-bottom: solid 1px #BBBBBB;
  border-left: solid 1px #BBBBBB;
  border-right: solid 1px #BBBBBB;  
}

.logo.header {

  min-width: 800px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0px;
  height: 50px;
  background: #ECF0F1;
  border-bottom: solid 1px #BBBBBB;
  border-left: solid 1px #BBBBBB;
  border-right: solid 1px #BBBBBB;  
}

.logo.background {
 
  margin-left: 9%;
  height: 50px;
  overflow: hidden;
}

.logo.text {
 
  position: relative;
  top: -7px;
  font-size: 55px;
  color: #ECF0F1;
}

#text1 {

  padding-left: 3px;
  background-color: #3498DB;
}

.header span.author {

  color: #2980B9;
}

/*
C7DDF3
73A9E1
94A9D4

1ABC9C
16A085

2ECC71
27AE60

3498DB
2980B9
81C0C5
*/

#text2 {

  background-color: #2980B9;
}

@-moz-document url-prefix() {

  .header input {

    font-size: 10.5pt;
  }

  .header span {

    font-size: 10.5pt;
  }

  .header img {

    padding-top: 1px;
    padding-bottom: 1px;
  }
}