#title {

	font-size: 36px;
	font-weight: 400;
	margin-left: 10px;
}

ul#well{

	margin: 0 10 20 10px;
	list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #bbbbbb;
  border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 15px;
  /* -moz-box-shadow: inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow: inset 0 0 10px #000000;*/
}

ul#well:empty {

	padding: 0px;	
}

#well li.panel {

	display: list-item;
	margin-bottom: 15px;
}

#well .panel:last-child {

	margin-bottom: 0px;
}

#well .panel .header {

  border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	height: 40px;
}

#well .panel .body {

	background-color: #ffffff;
	height: 100px;
}

#well .panel .button-bar {

	background-color: #333333;
	height: 40px;
  border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
}