/* TODO: move stuff to common */

.error {

  background-color: #E74C3C;
}

.warning {

  background-color: #FFCC33;
}

.red {

  background-color: #D2315D;
}

.green {

  background-color: #88C134;
}

.yellow {

  background-color: #F1C40F;
}

.orange {

  background-color: #E98813;
}

.purple {

  background-color: #8767A6;
}

.blue {

  background-color: #3498DB;
}

.date-selector.popup-selector .content {

  background-color: #ffffff;
	padding: 0px;
}

.ui-datepicker a {  

  text-decoration: none;  
}

.ui-datepicker table {  

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
  /*padding-top: 5px;*/
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 5px;
  color: #999999;
}

.ui-datepicker td {

  padding: 5px;
}

.ui-datepicker table th {

	padding: 5 0 5 0px;
  background-color: #dcdcdc;
	color: #999999;
  font-weight: 500;
}

.ui-datepicker td:not(.ui-datepicker-unselectable):hover {

  background-color: #dcdcdc;
}

.ui-datepicker td.ui-datepicker-unselectable {

  font-weight: 200;
}

.ui-datepicker-title {

  border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	background-color: #333333;
	padding: 5px;
  text-align: center; 
  font-weight: 300; 
}

.ui-datepicker-next {  

  padding-top: 6px;
  padding-right: 3px;
  float: right;  
}

.ui-datepicker-prev {

  padding-top: 6px;
  padding-left: 3px;
  float: left;  
}

.error-popup {

  top: 3px;
  left: -116px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: inline-block;
  font-weight: 200;
  /*border-bottom: 1px DimGray solid;*/
  display: none;
}

.error-popup > .content {

  width: 266px;
  background-clip: padding-box;
  border: solid 1px #E46E6D;
  /*box-shadow: 0px 0px 15px #999;
  -webkit-box-shadow: 0px 0px 15px #999;
  -moz-box-shadow: 0px 0px 15px #999;*/
  position: absolute;
  padding: 5px;
  top: 25px;
  margin-bottom: 15px;
  z-index: 2;
  border-radius: 3px;
	-moz-border-radius: 3px;
}

.error-popup > .content:before, .error-popup .content:after {

  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 100%;
  left: 20px;
  margin-left: -10px;
}

.error-popup > .content:before {

  border-bottom: 10px solid #E46E6D;
  margin-bottom: 0px;
}

.error-popup > .content:after {

  border-bottom: 10px solid #E74C3C;
  margin-bottom: -1px;
  z-index: 2;
}

.popup-selector a {

	position: relative;
}

a {

	font-weight: 400;
  text-decoration: none;
}

a:visited {

	color: black;
}

a:link {

	color: black;
}

span {

	margin: 0px;
}

#popup-selector span.selected {

  color: black;
	font-weight: 400;
}

.popup-selector a > .content {

	color: #999999;
	background-color: #333333;
	font-weight: 300;
	/*background: #ffffff;*/
	/*background-clip: padding-box;*/
  border: solid 0px #bbbbbb;
  /*box-shadow: 0px 0px 15px #999;
  -webkit-box-shadow: 0px 0px 15px #999;
  -moz-box-shadow: 0px 0px 15px #999;*/
  border-radius: 3px;
	-moz-border-radius: 3px;
	position: absolute;
	padding: 5px;
	left: -11px;
	top: 32px;
	display: none;
	z-index: 3;
}

.popup-selector a > .content:before, .popup-selector a > .content:after {

	content: "";
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	bottom: 100%;
	/*top: 100%;*/
	left: 20px;
	margin-left: -10px;
}

.popup-selector a > .content:before {

	border-bottom: 10px solid #333333;
	/*border-bottom: 10px solid #bbbbbb;*/
	margin-bottom: 0px;
}

.popup-selector a > .content:after {

	border-bottom: 10px solid #333333;
	/*border-bottom: 10px solid #ffffff;*/
	margin-bottom: -1px;
	z-index: 2;
}

.popup-selector .line {

  padding: 5 10 5 10px;
  white-space: nowrap;
}

.popup-selector .line:hover {

	color: #333333;
  background-color: #dcdcdc;
}

.popup-selector.line-selector .content {

	padding: 5 0 5 0px;
}

#color-selector a > .content {

  height: 75px;
  width: 110px;
  padding: 0px;
}

#color-selector .color {

  width: 30px;
  height: 30px;
  margin: 5px;
}

#color-selector .box-2, #color-selector .box-3 {

  position: relative;
  top: -70px;
  left: 35px;
}

#color-selector .box-4, #color-selector .box-5 {

  position: relative;
  top: -140px;
  left: 70px;
}

#color-selector .selected {

	vertical-align: text-bottom;
	display: inline-block;
	height: 17px;
	width: 17px;
	border: 1px solid #333333;
}

body {

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #dcdcdc;
}

input {

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	outline: none;
  border: 0px;
	background-color: #dcdcdc;
}

textarea#description {

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	outline: none;
  resize: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #bbbbbb;
  margin: 0px;
  width: 100%;
  padding: 10px;
  height: 200px;
  -moz-box-shadow: inset 0 15px 15px -15px #000000;
  -webkit-box-shadow: inset 0 15px 15px -15px #000000;
  box-shadow: inset 0 15px 15px -15px #000000;
}

.attribute {

	margin-left: 10px;
}

.attribute input {

	width: 100px;
}

.attribute > .label {

	color: #333333;
	font-weight: 300;
}

#summary {

	font-size: 36px;
	font-weight: 400;
	margin-left: 10px;
}

#breadcrumb-bar {

	background-color: #333333;
	color: #999999;
	font-weight: 300;
}

.breadcrumb {

	cursor: pointer;
	display: inline-block;
	padding: 10px;
}

.breadcrumb:hover {

	color: #ffffff;
}

.breadcrumb.selected {

	cursor: default;
	background-color: #000000;
	color: #ffffff;
}

html, body {

	margin: 0;
	height: 100%;
}

form {

	margin: 0px;
}

#output {

	min-height:100%;
	position:relative;
} 

#content {

	height: auto;
	padding-bottom: 45px;
}

#button-bar {

	width: 100%;
	height: 45px;
	position:absolute;
	bottom: 0;
	left: 0;
	background-color: #333333;
}

.popup-buttons {

	background-color: #333333;
	height: 45px;
  border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
}

#button-bar .button, .popup-buttons .button {

	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #fffaf0;
	background-color: #1abc9c;
  border-radius: 3px;
	-moz-border-radius: 3px;
	height: 35px;
	margin: 5px;
	padding: 0 15 2 15px;
	float:right;
	clear: both;
}

#button-bar .button:hover, .popup-buttons .button:hover {

	color: #ffffff;
	background-color: #2accac;
}

#error-popup {

	display: none;
	position: absolute;
	left: 35%;
	top: 40%;
	width: 30%;
	z-index: 3;
}

#error-popup > .message {

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	color: #fffaf0;
  border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	padding: 10px;	
}

#overlay {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.6;
  background: white;
  display: none;
  z-index: 2
}

.arrow {

	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.arrow.right {

	border-left: 8px solid #1abc9c;
	padding-right: 5px;
}

.arrow.right:hover {

	border-left: 8px solid #2accac;
}

.arrow.left {

	border-right: 8px solid #1abc9c;
	padding-left: 5px;
}

.arrow.left:hover {

	border-right: 8px solid #2accac;
}